data/*
data_places/*
data2/*
fast_rcnn/*
imp_files/*
utils2/*
pythonCaffeLayers1/*
papers/*
savedModels/*
todelete/*

*.caffemodel
*.binaryproto
*.swp
*.pyc
*.png
*.back
*.pickle
*.zip
*.*~
!siamese1.png
!modified_siamese1.png
